{% extends 'blog/base.html' %}

{% block title %} Vitalii Notes {% endblock %}

{% block content %}
    {% for post in blog_post_list %}
        <div class="row mt-2 justify-content-center">
            <div class="card col-md-8">
                <div class="card-body d-flex">
                    <a class="h5 text-decoration-none text-dark me-auto" href="{% url 'blog:blog_post' post.id %}">{{ post.title }}</a>
                    <span class="fw-lighter">{{ post.published_date }}</span>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
